body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
}

header {
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background-color: #ffffff;
    position: sticky;
    z-index: 100%;
    top: 0;  
}

header img {
    height: 80px;
    border-radius: 100px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #ff7a28;
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav img {
    height: 17px;
    border-radius: 0;
}


nav a {
    text-decoration: none;
    color:#555;
    font-weight: bold;
}

nav a :hover {
    color: #ff7a28;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 15px; 
}

.user-actions img {
    height: 40px;
    width: 40px;
    border-radius: 40%;
    object-fit: cover;
}

/* ===== Welcome Section ===== */
.welcome {
  background-color: #fff4eb;
  padding: 60px 40px;
  border-radius: 16px;
  margin: 30px auto;
  max-width: 1700px;
}

.welcome-content {
  max-width: 600px;
}

.welcome h1 {
  font-size: 28px;
  font-weight: 700;
  color: #111;
  margin-bottom: 16px;
}

.welcome p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 24px;
}

/* Button */
.btn-primary {
  display: inline-block;
  background-color: #ff7a00;
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ;
}

.btn-primary:hover {
  background-color: #e66e00;
}

.rekomendasi {
  width: 90%;
  margin: 40px auto;
}

.rekomendasi h2 {
  font-size: 22px;
}

.rekomendasi p {
  color: gray;
  margin-bottom: 20px;
}

/* menu */
.menu {
  display: flex;
  gap: 24px;
  margin-bottom: 30px;
}


/* card */
.card {
  background: white;
  border-radius: 12px;
  width: 30%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);

  display: flex;
  flex-direction: column;
}


/* gambar */
.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

/* judul */
.card h3 {
  font-size: 16px;
  margin: 10px 0;
}

/* teks */
.card p {
  font-size: 14px;
  color: gray;
}

/* tombol */
.card button {
  width: 100%;
  padding: 8px;
  border: 1px solid orange;
  background: white;
  color: orange;
  border-radius: 6px;
  cursor: pointer;
}

.card button:hover {
  background: orange;
  color: white;
}

.resep-populer {
  width: 100%;
  margin: 60px auto;
}

.resep-populer h2 {
  font-size: 22px;
}

.resep-populer p {
  color: gray;
  margin-bottom: 20px;
}

footer {
    background-color: #e56a1b;
    color: #ffffff;
    padding: 20px; 
    text-align: center; 
    font-size: 12px;
}
