body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    color: #333;
}

header {
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background-color: #ffffff   ;
    border-bottom: 1px solid #eee;
    position: sticky;
    z-index: 100%;
    top: 0;  
}

header img {
    height: 80px;
    border-radius: 100px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #ff7a28;
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav img {
    height: 20px;
    border-radius: 0;
}


nav a {
    text-decoration: none;
    color:#555;
    font-weight: bold;
}

nav a :hover {
    color: #ff7a28;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 15px; 
}

.user-actions img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.hero {
  text-align: center;
  padding: 60px 20px;
  background-color: #fff;
}

.hero h1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.hero .description {
  color: #555;
  font-size: 1rem;
  max-width: 650px;
  margin: 0 auto 30px;
  justify-content: center;
  
}

.search-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.search-box {
  width: 500px;
  padding: 12px 16px;
  text-align: left;
  border: 1.5px solid #ddd;
  border-radius: 6px;
}

.search-button {
  background-color: #f97316;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  font-weight: 200;
}

.search-button:hover {
  background-color: #ea580c;
}

.trending {
  padding: 40px 80px;
  background-color: #fff;
}

.trending h2 {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 25px;
  color: #111;
}

.card-container {
  display: grid;
  gap: 20px;
}

.card {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 20px;
  text-align: left;
}

.card:hover {
  transform: translateY(-4px);;
}

.card img {
  width: 36px;
  height: 36px;
  margin-bottom: 10px;
}

.card h4 {
  font-size: 17px;
  color: #f97316;
  margin-bottom: 8px;
}

.card p {
  color: #555;
  font-size: 0.9rem;
}
  .search-box {
    width: 100%;
  }

  .trending {
    padding: 30px 20px;
  }

  .card-container {
    grid-template-columns: 1fr 1fr;
  }

  .hero h1 {
    font-size:30px;
  }

footer {
    background-color: #f8f8f8; 
    padding: 40px 0; 
    text-align: center; 
    border-top: 1px solid #eee; 
    margin-top: 80px; 
}

.footer-content p {
    margin: 5px 0; 
    color: #555; 
    font-size: 0.9em; 
}

.footer-content p:first-child {
    font-weight: bold; 
    font-size: 1.1em; 
    margin-bottom: 15px;
    color: #333;
}

.footer-links {
    margin-top: 20px; 
}

.footer-links a {
    color: #007bff; 
    text-decoration: none; 
    margin: 0 10px; 
    font-size: 0.85em;
}

.footer-links a:hover {
    text-decoration: underline; 
}
