body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
}

header {
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background-color: #ffffff   ;
    position: sticky;
    z-index: 100;
    top: 0;  
}

header img {
    height: 80px;
    border-radius: 100px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #ff7a28;
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav img {
    height: 17px;
    border-radius: 0;
}


nav a {
    text-decoration: none;
    color:#555;
    font-weight: bold;
}

.user-actions img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

main {
    max-width: 1400px; 
    margin: 0 auto; 
    padding: 20px;
}

.dashboard-content {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0;
}

.welcome-section {
  background-color: #fff4eb;
  padding: 60px 40px;
  border-radius: 16px;
  margin: 30px auto;
  max-width: 1700px;
}

.welcome-section h1 {
    font-size: 40px;
  font-weight: 700;
  color: #111;
  margin-bottom: 16px;
}

.welcome-section h1 span {
    font-weight: 700;
    color: #e56a1b;
}

.welcome-section p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 24px;
}

.primary-btn {
    display: inline-block;
    background-color: #ff8c00; 
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
    transition: background-color 0.3s;
}

.snapshot-content h2 {
    text-align: center;
    margin-top: 50px; 
    margin-bottom: 50px; 
}

.cards-container {
    display: flex; 
    justify-content: center; 
    gap: 50px; 
}

.card {
    background-color: white;
    border: 1px solid #eee;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.card-activity {
    background-color: white;
    border: 1px solid #eee;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.card-activity img {
    height: 350px;
    width: auto;
}

footer {
    background-color: #e56a1b;
    color: #ffffff;
    padding: 20px; 
    text-align: center; 
    font-size: 12px;
}
