body {
  font-family: Arial, sans-serif;
  margin: 0; 
  padding: 0; 
  background-color: #ffffff;  
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px 60px;
  background-color: #fff; 
  border-bottom: 3px solid #eee;  
}
header img {
  height: 50px;
  border-radius: 100px;
}
.logo {
  display: flex; 
  align-items: center; 
  font-size: 20px;
  font-weight: 700;  
  color: #ff7a28;
}

nav ul {
  list-style: none;
  display: flex;   
  gap: 50px;    
}
nav img {
  height: 21px; 
}
nav a {
  text-decoration: none; 
  color: #333;
  font-weight: bold; 
}
.user-actions img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.calender {
  margin: 100px auto;  
  max-width: 900px;   
  font-family: sans-serif;
  font-weight: bold;      
  color: #111;
  padding: 50px;  
}
.month {
  text-align: center;
  background: #555;
  font-size: 80px;
  color: #fff;
  border: 3px solid #111;
}
table, th, td {
  width: 100%;
  table-layout: fixed; 
  text-align: center;
  font-size: 27px;
  border-collapse: collapse;   /*-menggabungkan garis border-*/
  border: 3px solid #111;  
}
tr, th, td {
  padding: 15px; 
}
th {
  background: rgb(248, 155, 5);
  color: #111;
  font-family: arial black;
}
td {
  background-color: #fff;
}
td:hover {
  background: rgb(241, 245, 6);
}

footer {
  display: flex;
  background: #ff7a28;
  justify-content: space-between;
  padding: 35px;
  color: #fff;
  font-size: 14px;
  margin-top: 80px;
}