body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px 60px;
  background-color: #fff;
  border-bottom: 3px solid #eee;
}
header img {
  height: 50px;
  border-radius: 100px;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: #ff7a28;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
}
nav img {
  height: 21px;
}
nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.user-actions img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.hero {
  text-align: center;
  padding: 80px 20px;
  background-color: #ffffff;
}
.hero h1 {
  font-size: 30px;
  margin-bottom: 12px;
}
.description {
  max-width: 600px;
  margin: 0 auto 30px;
  color: #555;
  line-height: 1.6;
}
.olahraga {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.olahraga-card {
  width: 500px;
  height: 350px;
  text-align: center;
  border: 2px solid #f97316;
  border-radius: 14px;
  background: #f9f9f9;
  padding: 20px;
}
.olahraga h1 {
  font-size: 60px;
  color: #ff7a28;
}
.play-btn {
  border: none;
  background: none;
}

.card-section {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 100px;
}
.card-link {
  display: block;
  width: 280px;
  padding: 30px;
  background: #fff;
  border-radius: 18px;
  border: 3px solid #eee;
  text-align: center;
  text-decoration: none;
  color: #111;
}
.card-link img {
  width: 40px;
  margin-bottom: 10px;
}
.card-link h4 {
  font-size: 18px;
}
.card-link p {
  color: #555;
}
.graph {
  display: flex;
  justify-content: center;
  margin: 140px 0;
}
.graph-img {
  display: flex;
  gap: 90px;
}
.graph-img img {
  width: 600px;
  border-radius: 12px;
  border: 4px solid #eee;
}

footer {
  display: flex;
  background: #ff7a28;
  justify-content: space-between;
  padding: 35px;
  color: #fff;
  font-size: 14px;
  margin-top: 80px;
}