
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background-color: #ffffff;
    border-bottom: 3px solid #eee;
    position: sticky;
    top: 0;
}

header img {
    height: 80px;
    border-radius: 100px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #ff7a28;
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav img {
    height: 17px;
    border-radius: 0;
}


nav a {
    text-decoration: none;
    color:#555;
    font-weight: bold;
}

nav a :hover {
    color: #ff7a28;
}  

.user-actions img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}



.olahraga {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
    
.olahraga-card {
    text-align: center;
    border: 2px solid #f97316;
    padding: 40px;
    border-radius: 12px;
    width: 400px;
    height: 400px;
    background: #f9f9f9;
}

.olahraga h1 {
    font-size: 60px;
    color: #ff7f27;
    margin-bottom: 5px;
}

.olahraga-card p {
  color: #111;
  margin-bottom: 0px;
}

.olahraga h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.card-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 75px;
  gap: 60px;
}

.card {
  background: #fff;
  border: 4px solid whitesmoke;
  border-radius: 12px;
  padding: 30px 40px;
  text-align: center;
  width: 400px;
}

.card:hover {
  transform: translateY(-4px);
}

.card img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.card h4 {
  font-size: 18px;
  font-weight: 600;
  color: #111;
  margin-bottom: 8px;
}

.card p {
  color: #555;
}

.graph {
  display: flex;
  justify-content: center;
  align-items: center;  
  margin-top: 60px;
  margin-bottom: 60px;
}

.graph-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.graph-img img {
  width: 600px;
  max-width: 100%;
  border-radius: 10px;
}

footer {
    background-color: #f97316;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 12px;
}