body {
  font-family: Arial, sans-serif;
  margin: 0; 
  padding: 0; 
  background-color: #ffffff; 
  color: #333; 
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px 60px;
  background-color: #fff;
  border-bottom: 3px solid #eee;
}
header img {
  height: 50px;
  border-radius: 100px;
}
.logo {
  display: flex;  
  align-items: center; 
  font-size: 20px;
  font-weight: 700; 
  color: #ff7a28;
}

nav ul {
  list-style: none; 
  display: flex;   
  gap: 50px;      
}
nav img {
  height: 21px; 
}
nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold; 
}
.user-actions img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.hero-section {
  padding: 100px;
  background-color: aliceblue;
  margin: 45px;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.hero-text {
  max-width: 600px;
}
.hero h1 {
  font-size: 32px;
  margin-bottom: 10px;
}
.hero p {
  line-height: 1.6;
  color: #111;
}
.hero img {
  width: 560px;
  border-radius: 14px;
}


.latihan-section {
  padding: 100px;  
}
h2 {
  text-align: center;
  margin-bottom: 40px;
}

.card-container {
  display: grid;  
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.card {
  background: #fff;
  border-radius: 14px;
  overflow: hidden; 
  border: 3px solid #eee;
  transition: 0.3s ease;
}
.card-link {
  display: block; 
  text-decoration: none;   
}
.card img {
  width: 100%;  
  height: 260px;
  object-fit: cover;  
  display: block; 
}
.card-content {
  padding: 16px;  
}
.card h4 {
  color: #ff7a28;
  margin-bottom: 6px;
}
.card p {
  font-size: 14px;
  color: #555;
}
.card:hover {
  transform: translateY(-5px);
}

footer {
  display: flex;
  background: #ff7a28;
  justify-content: space-between;
  padding: 35px;
  color: #fff;
  font-size: 14px;
  margin-top: 80px;
}
