body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #333;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background-color: #fff;
  border-bottom: 3px solid #eee;
}
header img {
  height: 50px;
  border-radius: 100px;
}
.logo {
  font-size: 20px;
  font-weight: 700;
  color: #ff7a28;
  display: flex;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
}
nav img {
  height: 20px;
}
nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.user-actions img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

/* SECTION */
section {
  padding: 40px 60px;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.hero-text {
  max-width: 550px;
}

.hero h1 {
  font-size: 32px;
  line-height: 1.4;
}

.hero p {
  color: #555;
  line-height: 1.6;
}

.hero img {
  width: 560px;
  border-radius: 14px;
}

/* JUDUL */
h2 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 40px;
}

/* CARD */
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.card {
  background-color: #fff;
  border-radius: 14px;
  overflow: hidden; /* gambar nyatu */
  border: 1px solid #eee;
  margin-bottom: 20px;
}
.card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}
.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
}
.card-content {
  padding: 16px;
}
.card h4 {
  font-size: 18px;
  color: #ff7a28;
  margin-bottom: 6px;
}
.card p {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}
.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}


footer {
  background: #ff7a28;
  padding: 20px;
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  margin-top: 100px;
}
