body {
  font-family: Arial, sans-serif;
  margin: 0; /*--jarak di luar--*/
  padding: 0; /*--jarak di dalam--*/
  background-color: #ffffff;  /*--warna latar belakang--*/
  color: #333; /*--semua warna teks--*/ 
}

header {
  display: flex; /*eleemen nafbar sejajar dan horizontal*/
  justify-content: space-between; /*mengatur jarak kiri dan kanan elemen--*/
  padding: 15px 60px; /*--jarak vertikal(ats & bwh) dan horizontal(kri & knn)--*/
  background-color: #fff; /*--warna latar belakang pada navbar--*/
  border-bottom: 3px solid #eee;  /*ketebalan  garis border terlihat jelas dan berwarna putih*/
}
header img {
  height: 50px;
  border-radius: 100px;
}
.logo {
  display: flex;  /*membuat elemen teks menjadi fleksibel dan tersusun rapi dalam satu baris*/
  align-items: center; /*mengatur posisi elemen di tengah*/
  font-size: 20px;
  font-weight: 700;   /*ketebalan tulisan--*/
  color: #ff7a28;
}

nav ul {
  list-style: none; /*--menghilangkan bullet pada list--*/
  display: flex;    /*eleemen nafbar sejajar dan horizontal*/
  gap: 50px;      /*--jarak antar menu--*/
}
nav img {
  height: 21px; 
}
nav a {
  text-decoration: none;  /*--menghilangkan garis bawah pada link--*/
  color: #333;
  font-weight: bold;  /*--ketebalan teks--*/
}
.user-actions img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.hero-section {
  padding: 100px;
  background-color: aliceblue;
  margin: 45px;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.hero-text {
  max-width: 600px;
}
.hero h1 {
  font-size: 32px;
  margin-bottom: 10px;
}
.hero p {
  line-height: 1.6;
  color: #111;
}
.hero img {
  width: 560px;
  border-radius: 14px;
}


.latihan-section {
  padding: 100px;  
}
h2 {
  text-align: center;
  margin-bottom: 40px;
}

.card-container {
  display: grid;  
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.card {
  background: #fff;
  border-radius: 14px;
  overflow: hidden; 
  border: 3px solid #eee;
  transition: 0.3s ease;
}
.card-link {
  display: block; 
  text-decoration: none;   
}
.card img {
  width: 100%;  
  height: 260px;
  object-fit: cover;  
  display: block; 
}
.card-content {
  padding: 16px;  
}
.card h4 {
  color: #ff7a28;
  margin-bottom: 6px;
}
.card p {
  font-size: 14px;
  color: #555;
}
.card:hover {
  transform: translateY(-5px);
}

footer {
  display: flex;
  background: #ff7a28;
  justify-content: space-between;
  padding: 35px;
  color: #fff;
  font-size: 14px;
  margin-top: 80px;
}
