body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff; 
  color: #333; 
}

header {
  display: flex; 
  justify-content: space-between; 
  padding: 15px 60px;
  background-color: #fff; 
  border-bottom: 3px solid #eee; 
}
header img {
  height: 50px;   
  border-radius: 100px;
}
.logo {
  display: flex; 
  align-items: center;
  font-size: 20px;
  font-weight: 700;  
  color: #ff7a28;
}

nav ul {
  list-style: none;
  display: flex;   
  gap: 50px;    
}
nav img {
  height: 21px; 
}
nav a {
  text-decoration: none;  
  color: #333;
  font-weight: bold;
}
.user-actions img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.hero {
  text-align: center;
  padding: 80px 20px;
  background-color: #ffffff;
}
.hero h1 {
  font-size: 30px;
  margin-bottom: 13px;
}
.description {
  max-width: 600px;  
  margin: 0 auto 30px; 
  color: #555;
  line-height: 1.6;
}

.search-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.search-box {
  width: 550px;
  padding: 12px ;   
  border-radius: 12px;
  border: 2px solid #ddd;
  font-size: 12px;
}
.search-button {
  padding: 12px 20px;
  background-color: #f97316;
  color: #fff;
  border: none;  
  border-radius: 8px;
  font-size: 14px;
}

.trending h2 {
  font-weight: bold;
  text-align: center;
  font-size: 27px;
  margin: 50px;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 60px;
}
.card-link {
  display: block;
  text-decoration: none;
}
.card {
  background-color: #ffffff;  
  border: 3px solid #eee;
  border-radius: 12px;
  padding: 20px;    
}
.card img {
  width: 40px;
  height: 40px;
  margin-bottom: 11px;
}
.card h4 {
  font-size: 18px;
  color: #f97316;
  margin-bottom: 2px;
}
.card p {
  font-size: 14px;
  color: #555;
}
.card:hover {
  transform: translateY(-8px);  /*--efek mengangkat card ke atas--*/
}

footer {
  display: flex;
  background: #ff7a28;
  justify-content: space-between;
  padding: 35px;
  color: #fff;
  font-size: 14px;
  margin-top: 80px;
}

