
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background-color: #ffffff;
    border-bottom: 3px solid #eee;
    position: sticky;
    top: 0;
}

header img {
    height: 80px;
    border-radius: 100px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #ff7a28;
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav img {
    height: 20px;
    border-radius: 0;
}


nav a {
    text-decoration: none;
    color:#555;
    font-weight: bold;
}

.user-actions img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.hero {
  text-align: center;
  padding: 90px 200px;
  background-color: #fff;
}

.hero h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 12px;
}

.hero .description {
  color: #555;
  font-size: 1rem;
  max-width: 650px;
  margin: 0 auto 30px;
  justify-content: center;
  
}

.search-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.search-box {
  text-align: center;
  border: 2px solid #ddd;
  border-radius: 10px;
}

.search-button {
  background-color: #f97316;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  font-weight: 200;
}

.trending {
  padding: 40px 80px;
  background-color: #fff;
}

.trending h2 {
  text-align: left;
  font-size: 25px;
  margin-bottom: 25px;
  color: #111;
}

.card-container {
  display: grid;
  gap: 20px;
}

.card {
  background: #fff;
  border: 4px solid whitesmoke;
  border-radius: 12px;
  padding: 20px;
  text-align: left;
}

.card:hover {
  transform: translateY(-4px);;
}

.card img {
  width: 36px;
  height: 36px;
  margin-bottom: 10px;
}

.card h4 {
  font-size: 18px;
  color: #f97316;
  margin-bottom: 8px;
}

.card p {
  color: #555;
  font-size: 0.9rem;
}
  .search-box {
    width: 100%;
  }

  .trending {
    padding: 30px 20px;
  }

  .card-container {
    grid-template-columns: 1fr 1fr;
  }

footer {
    background-color: #f97316;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 12px;
}
